# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Docker volumes
weaviate_content/

/aasx/concepts/cd_capability_assembly.json
/aasx/concepts/cd_capability_handling.json
/aasx/concepts/cd_capability_transport.json
/aasx/crx10ia_001/aas.json
/aasx/crx10ia_001/sm_nameplate.json
/aasx/crx10ia_type/aas.json
/aasx/crx10ia_type/sm_capabilitydescription.json
/aasx/crx10ia_type/sm_handoverdocumentation.json
/aasx/crx10ia_type/sm_nameplate.json
/aasx/crx10ia_type/sm_technicaldata.json
/aasx/halle3/aas.json
/aasx/halle3/sm_facilityinformation.json
/aasx/halle3/sm_hierarchicalstructures.json
/aasx/halle3/sm_nameplate.json
/aasx/halle4/aas.json
/aasx/halle4/sm_facilityinformation.json
/aasx/halle4/sm_hierarchicalstructures.json
/aasx/halle4/sm_nameplate.json
/aasx/mir100_0/aas.json
/aasx/mir100_0/sm_nameplate.json
/aasx/mir100_type/aas.json
/aasx/mir100_type/sm_capabilitydescription.json
/aasx/mir100_type/sm_handoverdocumentation.json
/aasx/mir100_type/sm_nameplate.json
/aasx/mir100_type/sm_technicaldata.json
/aasx/mir100_type/sm_technicaldataagv.json
/aasx/mir250_001/aas.json
/aasx/mir250_001/sm_nameplate.json
/aasx/mir250_type/aas.json
/aasx/mir250_type/sm_capabilitydescription.json
/aasx/mir250_type/sm_handoverdocumentation.json
/aasx/mir250_type/sm_nameplate.json
/aasx/mir250_type/sm_technicaldata.json
/aasx/mir250_type/sm_technicaldataagv.json
/aasx/ur20_001/aas.json
/aasx/ur20_001/sm_nameplate.json
/aasx/ur20_type/aas.json
/aasx/ur20_type/sm_capabilitydescription.json
/aasx/ur20_type/sm_handoverdocumentation.json
/aasx/ur20_type/sm_nameplate.json
/aasx/ur20_type/sm_technicaldata.json
/aasx/ur3e_001/aas.json
/aasx/ur3e_001/sm_nameplate.json
/aasx/ur3e_002/aas.json
/aasx/ur3e_002/sm_nameplate.json
/aasx/ur3e_type/aas.json
/aasx/ur3e_type/sm_capabilitydescription.json
/aasx/ur3e_type/sm_handoverdocumentation.json
/aasx/ur3e_type/sm_nameplate.json
/aasx/ur3e_type/sm_technicaldata.json
/docs/fanuc/fanuc-crx-educational-cell-manual.pdf
/docs/mir100/MiR100-User-guide.pdf
/docs/mir250/mir250_user_guide_11_en.pdf
/docs/references.md
/docs/ur20/718-914-00_UR20 PolyScope X_User_Manual_en_Global.pdf
/docs/ur3e/710-943-00_UR3e_User_Manual_en_Global.pdf
/interaction-protocol
