# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

/idta_templates/Capability Description/1/0/IDTA 02020_Template_Capability_Description.json
/idta_templates/Capability Description/1/0/README.md
/idta_templates/Data Model for Asset Location/1/0/1/IDTA 02045-1-0-1_Template_DataModelForAssetLocation.json
/idta_templates/Data Model for Asset Location/1/0/1/README.md
/idta_templates/Data Model for Asset Location/1/0/IDTA 02045-1-0_Template_DataModelForAssetLocation.json
/idta_templates/Data Model for Asset Location/1/0/README.md
/idta_templates/Digital nameplate/3/0/1/IDTA 02006-3-0-1_Template_Digital Nameplate.json
/idta_templates/Digital nameplate/3/0/1/README.md
/idta_templates/Digital nameplate/3/0/IDTA 02006-3-0_Template_Digital Nameplate.json
/idta_templates/Digital nameplate/3/0/README.md
/idta_templates/Handover Documentation/2/0/1/IDTA 02004-2-0-1_Template_HandoverDocumentation.json
/idta_templates/Handover Documentation/2/0/1/README.md
/idta_templates/Handover Documentation/2/0/IDTA 02004-2-0_Example_HandoverDocumentation.json
/idta_templates/Handover Documentation/2/0/IDTA 02004-2-0_Template_HandoverDocumentation.json
/idta_templates/Handover Documentation/2/0/README.md
/idta_templates/Hierarchical Structures enabling Bills of Material/1/1/1/IDTA 02011-1-1-1_Template_HSEBoM.json
/idta_templates/Hierarchical Structures enabling Bills of Material/1/1/1/README.md
/idta_templates/Hierarchical Structures enabling Bills of Material/1/1/IDTA 02011-1-1_Template_HSEBoM.json
/idta_templates/Hierarchical Structures enabling Bills of Material/1/1/README.md
/idta_templates/Maintenance Instructions/1/0/IDTA_02018_Template_MaintenanceInstructions.json
/idta_templates/Maintenance Instructions/1/0/README.md
/idta_templates/Quality Control for Machining/1/0/IDTA_02049_Template_QualityControlForMachining.json
/idta_templates/Quality Control for Machining/1/0/README.md
/idta_templates/Technical Data for Automated Guided Vehicles/1/0/1/IDTA 02047-1-0-1 Template_TechnicalDataForAGV.json
/idta_templates/Technical Data for Automated Guided Vehicles/1/0/1/README.md
/idta_templates/Technical Data for Automated Guided Vehicles/1/0/IDTA 02047-1-0 Template_TechnicalDataForAGV.json
/idta_templates/Technical Data for Automated Guided Vehicles/1/0/README.md
/idta_templates/Technical_Data/2/0/1/IDTA 02003_2-0-1_Template_TechnicalData.json
/idta_templates/Technical_Data/2/0/1/README.md
/idta_templates/Technical_Data/2/0/IDTA 02003_Sample_TechnicalData.json
/idta_templates/Technical_Data/2/0/IDTA 02003_Template_TechnicalData.json
/idta_templates/Technical_Data/2/0/README.md
